{% extends 'base.html' %}

{% block title %}
    {{ user }}'s Cart
{% endblock title %}

{% block content %}
<div class="container">
    <div class="my-4">
    <ul class="list-group">
    {% for cart_item in cart %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <p>{{ cart_item.item.name }}, {{ cart_item.item.brand.name }}</p>
        <p>{{ cart_item.item.price }}</p>

        <p>Quantity: <span class="badge badge-primary badge-pill">{{ cart_item.quantity }}</span></p>
        <p>Quantity: <span class="badge badge-primary badge-pill">{{ cart_item.unit_total }}</span></p>
        <div>
        <a href="{% url 'order:edit_cart_item' cart_item.pk %}" class="btn btn-primary"><i class="fa fa-edit" aria-hidden="true"></i></a>
        <a href="{% url 'order:edit_cart_item' cart_item.pk %}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </div>
    </li>
    {% endfor %}
    </ul>
    </div>
    <hr class="my-4">
    <div class="card">
  <h5 class="card-header">Summary</h5>
  <div class="card-body">

    <p class="card-text">
        <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between">
          <p>Total Amount</p>
            <p><span class="justify-content-between">{{ cart_total.unit_total__sum }}</span></p>
        </li>
        </ul>
      </p>
    <a href="#" class="btn btn-success">CheckOut</a>
  </div>
</div>

</div>
{% endblock content %}
